.brand_seeall {
  padding: 5px 5px;
  color: #0078ff;
  margin: 0 5px;
}
.arrow_btn {
  padding: 5px 5px !important;
  border: 1px solid #ccc !important;
  color: #adacac !important;
  margin: 0 5px !important;
  border-radius: 5px !important;
}
.brand_slide {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.brand_border {
  border: 1px solid #ccc;
}
.list_datas {
  padding: 0px 0px !important;
}
.brand_staricon {
  font-size: medium !important;
  color: #fa6c21;
}
@media screen and (max-width: 480px) {
  .brand_heads {
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  .brand_heads {
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
  }
}
