.blog_seeall {
  padding: 5px 5px;
  color: #0078ff;
  margin: 0 5px;
}
.blog_text{
  font-size: 14px;
  font-family: 'Roboto, light';

  span{
    font-size: 10px;
  }
  p{
    font-size:12px;
  }
}
.arrow_btn {
  padding: 5px 5px !important;
  border: 1px solid #ccc !important;
  color: #adacac !important;
  margin: 0 5px !important;
  border-radius: 5px !important;
}
.blog_slide {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.blog_border {
  border: 1px solid #ccc;
}
.list_datas {
  padding: 0px 0px !important;
}
.blog_staricon {
  font-size: medium !important;
  color: #fa6c21;
}
@media screen and (max-width: 480px) {
  .blog_heads {
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
  }
}
@media screen and (max-width: 767px) and (min-width: 481px) {
  .blog_heads {
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
  }
}
