/* @tailwind base;
@tailwind components;
@tailwind utilities; */


body {
  font-family: inherit;
  line-height: inherit;
  background: #F5F5F5!important;
}


/* topheader */

.topbar{
    background: linear-gradient(to bottom, rgba(255,118,49,1) 0%, rgba(255,75,35,1) 100%) !important;
    }
    
    .icon-wrp {
      width: 27%;
    }
    .icon-wrp p {
      font-size: 13px;
    }
    .store-head {
      line-height: 9px;
      cursor: pointer;
    }
    .item-head {
      line-height: 9px;
      cursor: pointer;
    }
    .account-head {
      line-height: 9px;
      cursor: pointer;
    }
    .icon-wrp h5 {
      font-size: 15px;
    }
    .search-wrp {
      padding: 6px;
    
    }
    .store-head:hover .Stores-dropdown{
      display: block;
      cursor: pointer;
    }
    .item-head:hover .Stores-dropdown{
      display: block;
      right: 42px;
      cursor: pointer;
    }
    .account-head:hover .Stores-dropdown{
      display: block;
      right: 42px;
      cursor: pointer;
    }
    
    .Stores-dropdown{
      display:none;
      position: absolute;
      padding: 10px;
        margin: auto;
        color: #495057;
        background-color: #fff;
        z-index: 99999999999;
        line-height: 22px;
        width: 252px;
        border: 1px solid #e8e8e8;
        font-size: 13px;
        box-shadow: 0 0px 10px 0px rgb(0 0 0 / 20%);
        cursor: pointer;
    }
    .pincode input{
      background-color: white!important;
      border-bottom: 1px solid #0000002e!important;
      border-radius: 0px!important;
      width: 100%;
      padding: 4px;
    }
    li.pincode span {
      border-bottom: 1px solid #000;
    }
    .pincode button{
      background-color: transparent;
      color: #ff531f;
      border: none;
      font-weight: bold;
      font-size: 12px;
    }
    
    ul.Stores-dropdown li {
      padding: 7px 0px;
    }
    
    .search-bar select{
        width: 100%;
        border-radius: 3px;
        background-color: #eee;
        border: none;
        color: #3d3d3d;
        padding: 9px;
        font-size: 12px;
        font-size: 1.2rem;
        box-shadow: none !important;
        transition: all 0.3s ease;
    }
    
    .search-city select{
      width: 100%;
      border-radius: 3px;
      background-color: #eee;
      border: none;
      color: #3d3d3d;
      padding: 9px;
      font-size: 12px;
      font-size: 1.2rem;
      box-shadow: none !important;
      transition: all 0.3s ease;
    }
    .search-area select{
      width: 100%;
      border-radius: 3px;
      background-color: #eee;
      border: none;
      color: #3d3d3d;
      padding: 9px;
      font-size: 12px;
      font-size: 1.2rem;
      box-shadow: none !important;
      transition: all 0.3s ease;
    }
    ul.Stores-dropdown svg{
      font-size: 18px;
    }
    select#cars option {
      font-size: 14px;
      line-height: 42px;
      color: #3e3c3c;
      padding: 5px 5px!important;
  }

/* topheader */



/* Navbar */


.top-header-menu {
    box-shadow: 0px 0px 5px -1px rgb(0 0 0 / 24%);
}
a.dropbtn {
    font-size: 14px;
    color: #000;
}

/* Navbar */


/* slider */

.slick-prev, .slick-next{
   /* top:0px!important;  */
   display: none!important;

}

/* .slick-next {
  right: 10px!important;
}
.slick-next{
  background-color: rgb(136, 255, 0)!important;
  font-size: 30px!important;
  width: 50px!important;
  height: 50px!important;
}
.slick-prev{
 background-color: red!important;
 font-size: 30px!important;
 width: 50px!important;
 height: 50px!important;
} */

/* slider */


/* stripbanner */

._6t1WkM {
  margin: 0 auto;
  min-width: 978px;
  max-width: 1680px;
  padding: 8px;
}

.alice-carousel__prev-btn {
  text-align: right;
  position: absolute;
  top: 40%;
  left: 0;
  width: 6%!important;
  display: none!important;
  /* box-shadow: 0px 0px 5px -1px rgb(0 0 0 / 24%)!important; */
}
.alice-carousel__next-btn {
  float: right;
  position: absolute;
  top: 40%;
  right: 0;
  width: 6%!important;
  color: #eff0f2!important;
  display: none!important;
}

.alice-carousel__play-btn-item.__pause::before, .alice-carousel__play-btn-item.__pause::after {
   height: 30px; 
   border-width: 0 0 0 10px; 
  display:none;
}
.alice-carousel__play-btn-wrapper {
  position: relative;
  width: 0!important;
  height: 0!important;
  padding: 0px!important;
  border-radius: 50%;
  background-color: none !important;
}
.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  margin: 0;
  color: #eff0f2!important;
  font-size: 20px;
}
.alice-carousel__dots {
  margin: -20px 3px 5px;
  position: absolute;
  margin: 0 auto;
  list-style: none;
  bottom: 0;
  left: 29%;
  right: 29%;
  top:75%;
}
.alice-carousel__dots-item:not(.__custom) {
  width: 22px!important;
  height: 2px!important;
  cursor: pointer;
  border-radius: 22%!important;
}
.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active {
  background-color: #ff541e!important;
}
.ol-price p {
  font-size: 10px;
}
.ol-price span {
  font-size: 10px;
}

/* stripbanner */



/* smart */
.slider-wrp {
  position: relative;
  border-color: #00000029;
}
.smart-whlist {
  position: absolute;
  right: -16px;
  top: 0px;
}
.right-block h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.star-icon {
  color: #ff541e;
}
.sm-price span svg {
  font-size: 15px;
}
.add-cart-wp button {
  background-color: #dddddd;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 14px;
  color: #FA7521;
  box-shadow: 0px 1px 3px #00000029;
  background-image: linear-gradient(white, #dddddd);
}

.slider-wrp {
  position: relative;
  border-color: #00000029;
}

.slider-wrp:hover .add-cart-wp{
  display: block;
  bottom: -40px;
  margin-top: 11px;
}
.slider-wrp:hover .sli-product-details{
display:none;
position:absolute;
}
.slider-wrp:hover .save-price-smart{
display:none;
position:absolute;
}

.add-cart-wp {
  display: none;
  text-align: center;
}
.sideimg {
  /* width: 272px;
  height: 374px;
  margin: 0px auto; */
}
.product-image-container img {
  border-radius: 5px;
  margin: 0 auto;
  width: 48%;
}
.react-tabs__tab {
  border-radius: 57px!important;
  padding: 5px 18px!important;
  margin-right: 14px!important;
  /* border: 1px solid #ddd!important; */
  font-size: 13px;
  /* box-shadow: 0px 0px 5px -1px rgb(0 0 0 / 24%); */
}
.react-tabs__tab--selected {
  
  background: #effbef!important;
  z-index: 999999999;
}
.react-tabs__tab-list {
  border-bottom: none!important;
}

.react-tabs__tab-list {
 
  margin: 0px;
 
}

/* smart */


/*video*/
.vidstar{
  font-size:14px!important;
  color: #ff541e;
}
.product-video-container iframe {
  height: 200px;
}
/*video*/



/* freeship */

.freeship-icon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}




.footbar {
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  color:#ccc;
} 
.tag-footer 
 {
  background: rgba(226,226,226,1);
  background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#ffffff', GradientType=0 );
  padding: 13px 20px;
  font-size: 18px;
  color: #000;
  border-bottom: 1px solid #ccc;
}
.tag-footer ul li {
  background: #EDEDED;
  display: inline-block;
  padding: 4px 17px;
  border-radius: 20px;
  margin: 11px 6px;
  -webkit-box-shadow: 0px 0px 5px -2px rgb(0 0 0 / 48%);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.48);
  box-shadow: 0px 0px 5px -2px rgb(0 0 0 / 48%);
}
.tag-footer ul li a {
color: #929191;
}
.footer_icons .alice-carousel__stage-item {
  margin: 0px 10px !important;
  width: 170px!important;
  border-right: 1px solid #fff;
}
ul.alice-carousel__stage {
  background-color: #96555517 !important;
}
.footbar h4{
  color:#000;
  font-size: 0.8rem!important;
  padding: 10px;
  width:300px
}
.breadcrumbs{
  line-height: 35px!important;
}
.breadcrumbs li a, .breadcrumbs span, .breadcrumbs p, .about {
  color:#666;
}
.breadcrumbs li a:hover{
  color: #23527c;
}
.link::after, .MuiBreadcrumbs-separator{
  color:#666 !important;
}
.MuiTypography-colorTextPrimary {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700!important;
}
.ml-40 {
  margin-left: 26%!important;
}
.breadcrumbs-pad{
  padding-top: 2px;
  padding-left:10px;
}
.breadcrumbs li{
  padding-left: 5px;
  padding-right: 5px;
}
.sliderimg{
  width: 100%;
  object-fit: cover
}
.alice-carousel{
  overflow: hidden;
}
.con-info h3 {
  font-size: 17px;
}

.con-info a {
  color: #000;
}


.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.arr-icon {
  font-size: 12px!important;
}
.previw{
  color: #FF7A00;
}
.product-price {
  flex-basis: 65%;
}
.product-addcart {
  flex-basis: 35%;
}
.prod-detail-main {
  width: 100%;
}
.product-img {
  width: 50%;
}
.price-pro-details h4 {
  color: hsl(28deg 100% 53%);
  font-size: 27px;
}
.emi-store a {
  color: hsl(28deg 100% 53%);
  font-size: 15px;
  font-family: sans-serif;
}
.emi-store svg {
  font-size: 15px;
}
.product_storage {
  border: 1px solid #ff7f0f;
  padding:10px 30px;
}
.product_storages {
    border: 1px solid #ccc!important;
    border-left: none;
    padding: 10px 30px;
}
.thumb-product-product {
  width: 50%;
}
.tumb-color {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.tumb-color img {
  width: 33px;
  -o-object-fit: contain;
  object-fit: contain;
}
.imgwrap p {
  width:70px;
}
.sptc {
  color: hsl(28deg 100% 53%);
  font-size: 13px;
}
.avaoffer-wrp h5 {
  font-size: 14px;
}
.thumb-product img {
  width: 50%;
}
.tumbline-prod {
  display: flex;
  align-items: center;
  justify-content: center;
}

.without-exch h6 {
  font-size: 14px;
}
.ex-check{
  padding: 4px!important;
  align-items: unset!important;
  padding-left: 8px;
  margin-left: 4px!important;
}
.with-exch h6 {
  font-size: 14px;
}
.with-exch span {
  font-size: 14px;
}
.wanttoproduct h3 {
  font-size: 14px;
  color: hsl(28deg 100% 53%);
}


.btn-orange{
background: linear-gradient(to bottom, rgba(255,118,49,1) 0%, rgba(255,75,35,1) 100%) !important;
color:#fff!important;
}
.btn-gray{
  background:#ccc !important;
  color:#000!important;
  }
  .add-mob{
    color: hsl(28deg 100% 53%);
  }
/* 
productlist */


.over-wrp {
  background-color: #fdf0e6;
  color: #000;
  }
  .over-wrp ul {
  padding: 13px;
  display: flex;
  justify-content: space-between;
}
.over-wrp ul li {
  display: inline-block;
  margin: 0 10px;
}
.over-wrp ul li a {
    padding: 10px 0;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.2s ease;
}
.prohead {
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  /* height: 500px; */
  
}
.gesm h6 {
  /* color: red; */
  color: hsl(28deg 100% 53%);
  font-size: 12px;
}

.pro-sticky {
  position: sticky;
  top: 0px;
  bottom: 0;
  z-index: 2;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

/* end  */


/* desc */

.description-wrp {
  padding-top: 14%;
  padding-bottom: 20%;
  margin-left: 10px;
}
.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}
.description-wrp p {
  font-size: 30px;
}
/* desc */


.item-wrapper {
  flex-basis: 60%;
  background: #f1f1f199;
  padding: 11px;
}
.flex-item.del_address {
  flex-grow: 4;
  border-right: none;
}
.flex-item {
  flex-grow: 3;
}
.setdel {
  font-size: 14px;
}
.flex-item img {
  max-width: 100%;
  margin: 0px auto;
}
.setdel h4 {
  font-size: 14px;
}
.setdel p {
  font-size: 13px;
}
.gre {
  color: #388e3c!important;
}
.del-box {
  border-radius: 6px;
  padding: 15px 20px;
  border: 2px solid #eee;
}
.seller_details {
  color: #b1afaf;
  font-size: 15px;
  margin: 15px 0px 0px 15px;
  width: 100%;
}
.inpu-wrap svg, .change_address {
  color: #ff9f00;
}
.input-note p {
  font-size: 14px;
}
.del-box input {
  font-size: 14px;
}
.inpu-wrap {
  width: 100%;
  border-bottom: 1px solid #ddd!important;
}
.content-wrap {
  border-right: 1px solid #ddd;
  margin-top: 10px;
}



/* Protect */
.pro-wrp {
  position: relative;
  box-shadow: 0px 0px 10px #d3d3d3;
}

.prot-second h6 {
  font-size: 16px;
  font-weight: 600;
  color: #2b2b2b;
  text-transform: capitalize;
}
.prot-second h5 {
  color: #388e3c!important;
  font-size: 15px;
  font-weight: 800;
}
.readmore p {
  margin-top: 10px;
  color: #7d7878;
}
.readmore a {
  color: hsl(28deg 100% 53%);
  font-weight: 700;
}
.prot-second h5 span {
  color: #9e9e9e!important;
}
.pro-title h4{
  background-color: #fdf0e6;
  color: hsl(28deg 100% 53%);
  font-size: 23px;
}

/* Protect */



.reviews-wrp .MuiSvgIcon-root{
  width: 2.9rem;
  height: 2.2rem;
  color: #f9a408;
}
.reviews-wrp h2{
  color:#fa4f25;
}
.reviews-wrp .MuiButton-contained{
  color: #fff!important;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%)!important;
  background-color: #ff5e16!important;
  padding-left: 10%!important;
  padding-right: 10%!important;
  text-transform: none!important;
  margin: 0 auto!important;
  margin: 10px!important;
  width: 70%;
  margin-left: 15%!important;
  }
  .percent{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  .reviews-wrp ul li{
    display: inline;
    padding-right: 24px;
    line-height: 43px;
  }

  .rating-icon{
    background-color: #f1f1f1;
  }

.readmore .MuiButton-contained , .readmore .MuiButton-label{
  text-transform: capitalize!important;
  font-size: small!important;
  text-transform: capitalize!important;
  width:100%;
}
.review-search .MuiRating-root {
  color: #149a57!important;
}
.rev-sec {
  padding: 31px;
}
.readmore {
  padding: 10px;
  /* text-align: center; */
}
.review-search .MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  margin-left: 10px;
}
.review-search .MuiInputBase-root {
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  width: 81%;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
}

.rating-icon .MuiSvgIcon-root {
  vertical-align:unset!important;
  width:15px!important;
  height:15px!important;
  margin-left: 1px;
}
.review-icon .MuiSvgIcon-root {
  vertical-align:unset!important;
  width:19px!important;
  height:19px!important;
  margin-left: 6px;
}

.camera li {
  display: block;
  float: left;
  width: 15px;
  height: 6px;
  margin-right: 1px;
  border-radius: 10%;
}
.camera li:first-child, .appearance li:first-child, .battery li:first-child {
-webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
.camera li:last-child, .appearance li:last-child, .battery li:last-child {
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}
.camera li:nth-child(-n+2) {
  background: rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(6, 94, 10, 0.733),
                    0px 0px 20px rgba(6, 94, 10, 0.733);
}
.camera li:nth-child(-n+3) {
  background: rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(6, 94, 10, 0.733),
                    0px 0px 20px rgba(6, 94, 10, 0.733);
}

.camera li:nth-child(n+4) {
  box-shadow: inset 0px 0px 10px 1px rgba(6, 94, 10, 0.733),
                    0px 0px 20px rgba(6, 94, 10, 0.733);
}
.appearance li {
  display: block;
  float: left;
  width: 15px;
  height: 6px;
  margin-right: 1px;
  border-radius: 10%;
}
.appearance li:nth-child(-n+2) {
  background: rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(6, 94, 10, 0.733),
                    0px 0px 20px rgba(6, 94, 10, 0.733);
}
.appearance li:nth-child(-n+3) {
  background: rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(6, 94, 10, 0.733),
                    0px 0px 20px rgba(6, 94, 10, 0.733);
}
.appearance li:nth-child(-n+4) {
  background: rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(6, 94, 10, 0.733),
                    0px 0px 20px rgba(6, 94, 10, 0.733);
}
.appearance li:nth-child(n+4) {
  background: rgba(109, 109, 109, 0.267);
}
.battery li {
  display: block;
  float: left;
  width: 15px;
  height: 6px;
  margin-right: 1px;
  border-radius: 10%;
}
.battery li:nth-child(-n+2) {
  background: rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(255, 94, 22, 1),
                    0px 0px 20px rgba(255, 94, 22, 1);
}
.battery li:nth-child(-n+3) {
  background: rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(255, 94, 22, 1),
                    0px 0px 20px rgba(255, 94, 22, 1);
}
.battery li:nth-child(-n+4) {
  background: rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(255, 94, 22, 1),
                    0px 0px 20px rgba(255, 94, 22, 1);
}
.battery li:nth-child(n+4) {
  box-shadow: inset 0px 0px 10px 1px rgba(109, 109, 109, 0.267),
                    0px 0px 20px rgba(109, 109, 109, 0.267);
}

.section-divider:before {
  content: "VS";
  width: 2.8rem;
  height: 2.8rem;
  background: #f6f6f7;
  border-radius: 100%;
  position: absolute;
  top: -1.25rem;
  left: calc(50% - 1.55rem);
  color: rgba(#333333, 0.5);
  line-height: 2.5rem;
  text-indent: 0.7rem;
  font-size: 1.1rem;
  border: 1px solid #333333;
    }

    .percentreview {
      color: #039603;
  }
  .startreview{
    color: #f9a408;
  }

    @media only screen and (max-width:640px){
      .reviews-wrp .MuiButton-root{
        width:64px!important;
        min-width:none!important;
      }
      .reviews-wrp .MuiButton-contained{
        color: #fff!important;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%)!important;
        background-color: #ff5e16!important;
        padding-left: 10%!important;
        padding-right: 10%!important;
        text-transform: none!important;
        margin: 0 auto!important;
        margin: 10px!important;
        width: 197%!important;
        margin-left: 0!important;
        }
        .review-divider{
          border-top: 1px solid #9291919e;
        }
        .review-list{
          width:100%;
        }
    }

/* offer */

.offer_border
{
   border-bottom: 1px solid #000;
}
.offer_color
{
  color:#2a902a;
}
.offerdetails_border
{
  border-bottom:1px solid #ccc;
}
.offer_show
{
      width: 150px;
    border: 1px dotted #ccc;
}
.offer_showmore
{
       border: 1px dotted #ccc;
    
}
.offer_lastoffer
{
  width:150px;
}
.offers_lastofferbefore
{
  background: #e6e6e6;
    width: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.offers_lastofferafter
{
  background: #e6e6e6;
    width: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.offer_detailswidth
{
  font-size: 15px !important;
    color: #aaa;
}
.offer_carddetails
{
  font-size: 11px !important;
    color: #a5a5a5;
}
.emi_header
{
  background:#fff8f4;
}
.emi_onclickevent
{
  font-size: 15px !important;
    color: #ff935a;
}
.hide .emishowicon
{

  display: none;
}
.show  .emi_showicon
{
  display: none;
}
.hide
{
  background: #fafafa;
  border-bottom: 4px solid #fff;
}
.show
{

  background: #fff8f4;
}



/* Similar Products */

.similar-products img{
    margin-left: auto;
    margin-right: auto;
}
.similar-products .MuiSvgIcon-root{
  width:0.5em!important;
}
.react-multi-carousel-item {
  border:1px solid #ccc;
  padding:10px;
}

.similar-products .slick-slide{
  border: 1px solid rgb(223, 221, 221);
  /* width: 257px!important; */
  padding-top: 5px;
}
.similar-products .slick-li{
  width: 250px!important;
    /* border: 1px solid #ccc; */
    padding: 10px;
    display: inline-block;
}
.similar-products .slick-slider.slick-initialized {
  /* width: 1290px!important; */
  overflow: hidden!important;
}

.similar-products .slick-track{
  display: inline-flex;
  width: inherit!important;
}
.similar-products .react-tabs__tab-list{
  border-bottom: none!important;
  margin:0 !important;
}
.similar-products .react-tabs__tab{
  padding: 0!important;
  border:none!important;
}

/* .react-multi-carousel-dot-list{
  position: inherit!important;
} */

.similar-products .previus-button, .next-button , .trending-carousel .previus-button, .next-button{
  background-color: #f7f7f7!important;
  padding: 0 10px!important;
  margin: 2px!important;
  width: 37%!important;
}


/* More Products */
.more-product ul{
  list-style: disc;
    /* color: #ccc; */
    margin-left: 17px;
}
.more-product {
  width: 254px!important;
}
.active {
  color: #ccc;
 }

 .element {
  position: relative;
}
 .tooltip {
  display: none;
  /* position: absolute; */
  top: 100%;
  padding: 3px;
  margin-left:auto;
}

.element:hover .tooltip {
  display: block;
}

#onhover {
  display: none;
}
#surround:hover span[id="initial"] {
  display: none;
}
#surround:hover span[id="onhover"] {
  display: block;
}


/* Trending carousel */

.trending-carousel .slick-slide{

  width:392px!important;
  border:none!important;

}
.trending-carousel .MuiSvgIcon-root{
  width:0.6em!important;
}

.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}




/* Protection */
.protection{
  background-color: #FFF8F4;
  opacity: 1;
}
.protection h2, .accessories h5, .accessories-bg{
  background-color: #FF7A0026;
}
.protection img{
  max-width: 100%;
    height: 120px!important;
}
.protection-button{
  background: linear-gradient(to bottom, #ff7a00 0%, #ff4a25 100%);
}
.protection .MuiSvgIcon-root {
  width: 1.9rem!important;
  height: 2.2rem;
  color: #d97706;
}

@media screen and (max-width:1000px){
  .protection img{
    max-width: 100%;
      height: 80px!important;
  }
  /* .accessories img{
    height: 130px !important;
  } */
}

@media screen and (max-width:1100px){
  .similar-list{
    display:none;
  }
}
/* Accessories */
.accessories{
  background-color: #EAEAEA;
  overflow: hidden;
}

.accessories .MuiSvgIcon-root{
  width: 0.5em;
  height: 0.5em;
}
.accessories img{
  margin-left: auto;
  margin-right: auto;
  /* height: 200px !important; */
  display: block;
  width: 45%;
}

/* Earbuds */

.slick-initialized .slick-slide {
  display: block;
  border: 1px solid #ccc!important;
}

.wh .element {
  position: relative;
  border: 1px solid #ccc;
}
.wh .slick-slide img {
  display: block;
  width: 70%;
  padding-top: 10px;
}
.earbuds .slick-slide {
  border: 1px solid #d9770647!important;
  /* margin-right:10px; */
}
/* .earbuds .slick-slide:hover{
  border: 1px solid #96520447!important;
} */
.earbuds .slick-slide a:hover{
  border: 1px solid #707070!important;
  margin-right:5px;
  border-bottom:none!important;
}

.earbuds-icon .MuiSvgIcon-root{
  width:1em!important;
  background-color: #ff7a18;
  fill:#fff;
  border-radius: 5px;
  margin-right: 3px;
}

.earbuds button{
  -webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

.earbuds img{
  width:60%!important;
  height:150px!important;
}

.vc {
  background: #efafa0;
  color: #000;
  height: 22px;
  text-align: center;
  padding: 1.5px 6px;
  position: relative;
}
.vc1 {
  background: #ececec;
  color: rgb(231, 10, 10);
  width: 33px;
  height: 20px;
  text-align: center;
  padding: 1.5px 6px;
  position: relative;
}
.vc:after {
  width: 0;
  height: 0;
  border: 11.5px solid transparent;
  position: absolute;
  content: "";
  border-bottom-color: #efafa0;
  right: -21px;
  top: -1px;
}
.vc:before {
  width: 0;
  height: 0;
  border: 11.3px solid transparent;
  position: absolute;
  content: "";
  border-top-color:#efafa0;
  right: -21px;
  top: 0px;
  border-left-color: #efafa0;
}
.categoryheadphones .slick-slide{
  width:inherit!important;
  left:0!important;
}
.whs .slick-slide {
  width: 256px!important;
  margin-right: 10px;
}

.whs .slick-slide img {
  display: block;
  width: 100px;
  height: auto;
}

/* Category */

.fit-content{
  height: fit-content;
}

.category-series .slick-slide{
  border: none!important;
}
.category-series .slick-slide img, .category-series .slick-slide{
  height: 60px!important;
  /* padding:20px 5px!important; */
  width:auto!important;
  margin:10px;
  padding: 10px;
}

.categories img {
  border-radius: 10px;
}
.category-series h1::after{
  content: "";
    position: absolute;
    top: 100%;
    width: 20%;
    left: 40%;
    right:40%;
    height: 3px;
    border-radius: 2px;
    background: linear-gradient(
130deg
,#ff7a18,#af002d 41.07%,#319197 76.05%);
}
@media screen and (max-width:1000px){
  /* .categories{
    display:none!important;
  } */

}
@media screen and (max-width:600px){
  .categories img {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10px;
}
}
/* Earbuds */

.earbuds .slick-slide {
  border: 1px solid #d9770647!important;
  /* margin-right:10px; */
}
/* .earbuds .slick-slide:hover{
  border: 1px solid #96520447!important;
} */
.earbuds .slick-slide a:hover{
  border: 1px solid #707070!important;
  margin-right:5px;
  border-bottom:none!important;
}

.earbuds-icon .MuiSvgIcon-root{
  width:1em!important;
  background-color: #ff7a18;
  fill:#fff!important;
  border-radius: 5px;
  margin-right: 3px;
}

.earbuds button{
  -webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

.earbuds img{
  width:60%!important;
  height:150px!important;
}

.vc {
  background: #efafa0;
  color: #000;
  height: 22px;
  text-align: center;
  padding: 1.5px 6px;
  position: relative;
}
.vc1 {
  background: #ececec;
  color: rgb(231, 10, 10);
  width: 33px;
  height: 20px;
  text-align: center;
  padding: 1.5px 6px;
  position: relative;
}
.vc:after {
  width: 0;
  height: 0;
  border: 11.5px solid transparent;
  position: absolute;
  content: "";
  border-bottom-color: #efafa0;
  right: -21px;
  top: -1px;
}
.vc:before {
  width: 0;
  height: 0;
  border: 11.3px solid transparent;
  position: absolute;
  content: "";
  border-top-color:#efafa0;
  right: -21px;
  top: 0px;
  border-left-color: #efafa0;
}


.categorytabs {
  width: 100%;
  margin-top: 20px;
  padding: 0 20px;
}
.categorytabs input {
  display: none;
}
.categorytabs label {
  display: inline-block;
  padding: 6px 0 6px 0;
  margin: 0 -2px;
  width: 25%; /* =100/tabs number */
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.categorytabs label:hover {
  cursor: pointer;
}
.categorytabs input:checked + label {
  border: 1px solid #fb7e3c;
  border-width: 0px 0px 1px 0px;
  font-weight: 700;
}
.categorytabs #tab1:checked ~ .content #content1,
.categorytabs #tab2:checked ~ .content #content2,
.categorytabs #tab3:checked ~ .content #content3,
.categorytabs #tab4:checked ~ .content #content4 {
  display: block;
}

.category-series .categorytabs label {
  display: inline-block;
  padding: 12px 0 12px 0!important;
  margin: 0 5px;
  width: 15%!important;
  border-bottom: none!important;
  text-align: center;
}

.category-series .categorytabs input:checked + label {
  border: 1px solid #fb7e3c;
  border-width: 0px 0px 1px 0px;
  font-weight: 700;
  background-color: #ce4b05;
  height: 43px;
  margin-top: 5px;
  border-radius: 20px;
}

 .categorytabs .content > div {
  display: block;
  padding-top: 20px;
  text-align: left;
  height: auto!important;
  /* overflow: auto; */
}

.categorytabs img{
  width: 183px;
  height: 155px;
  margin-left: auto;
  margin-right: auto;
}

.categorytabs .vc {
  background: #ce4b05;
  color: #fff;
  font-weight: bold;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /* text-align: center; */
  padding: 6.5px 6px;
    /* position: relative; */
}
.categorytabs .vc:after {
  width: 0;
  height: 0;
  border: 11.5px solid transparent;
  position: absolute;
  content: "";
  /* border-bottom-color: #efafa0; */
  right: -21px;
  top: -1px;
}

.categorytabs .vc:before {
  width: 0;
  height: 0;
  /* border: 11.3px solid transparent; */
  position: absolute;
  content: "";
  border-top-color: transparent;
  right: -21px;
  top: 0px;
  border-left-color: transparent;
}


/* BEST Seller */

.bestseller .slick-slide {
  border: none!important;
  /* width: 230px!important; */
  padding-top: 0!important;
  border-radius: 10px;
  padding-right: 6px;
}

.bestseller .slick-slide img {
  display: block;
  width: 100px;
}

/* bottom logo */

.categorylogo .slick-track{
  width:none!important;
}
.category-bottom-logo .slick-slide {
  border: none;
  width: 163px!important;
  /* padding-top: 5px; */
  background-color: antiquewhite;
  /* margin: 6px; */
  padding: 7px!important;
}

.category-bottom{
  width:100%!important;
  background-color: white;
    border-radius: 20px;
}

.category-bottom img {
  width: 100%;
  height: 58px!important;
  padding: 12px;
}

@media screen and (max-width:1000px){
  /* .slick-slide, .bestseller .slick-slide {
    width: 266px!important;
} */
.category-series .slick-slide{
  width:inherit;
}
/* .category-series{
  display: none;
} */
}



.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	/* speak: none; */
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.hi-icon-mobile:before {
	content: "\f025";
}

/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
	background: rgba(255,255,255,0.1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-1 .hi-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

/* Effect 1a */
.hi-icon-effect-1a .hi-icon:hover {
	background: rgb(8, 8, 8);
	color: #41ab6b;
}

.hi-icon-effect-1a .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.nav-icon-display {
  color: white;
  display: none;
  font-size: 20px;
}

.spotlights .MuiSvgIcon-root {
  fill: #000!important;
  width: 4em;
  height: 4em;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  padding:20px;
}
.spotlights .MuiSvgIcon-root:hover {
fill: #fff!important;
width: 4em;
height: 4em;
background-color: #000;
border-radius: 50%;
font-size: 1.5rem;
transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
flex-shrink: 0;
user-select: none;
padding:20px;
}
.spotlights h1::before{
  content: "";
    position: absolute;
    top: 26%;
    width: 20%;
    left: 40%;
    right:40%;
    height: 3px;
    border-radius: 2px;
    background: linear-gradient(
130deg
,#ff7a18,#af002d 41.07%,#319197 76.05%);
}


.categoryoption2_spotlight
{
width: 100px;
height: 100px;
background: black;
border-radius: 60px;
margin: 0 auto;

}
.categoryoption2_spotlighticon
{
      font-size: 13px !important;
}

.category_serviceBox .category_service-icon{
font-size: 50px;
line-height: 100px;
width: 110px;
height: 110px;
margin: 0 auto;
position: relative;
z-index: 1;
}
.category_serviceBox .category_service-icon:before{
content: '';
background-color: #378972;
height: 100%;
width: 100%;
border-radius: 25px;
transform: translateX(-50%) translateY(-50%) rotate(45deg);
position: absolute;
left: 55%;
top: 55%;
z-index: -1;
}
.category-series .MuiSvgIcon-root {
  /* fill: #000; */
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  position: absolute;
  top: 20%;
  right: 24%;
}
.category-series .MuiSvgIcon-root:hover {
  fill: #fff;
  width: 2em;
  height: 2em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  position: absolute;
  top: 20%;
  right: 24%;
}



.tabimg img{
  height:200px;
}

.tabimg .react-tabs__tab--selected{
  background: #bb5414!important;
  color:#f9f4f4;
  border-radius:17px;
  border:none;
}
.tabimg .react-tabs__tab{
  margin:2px;
  padding: 5px 17px;
}


@media (max-width:500px){
  .react-tabs__tab {
    font-size: 10px;
}
}


.category-series, .category-bottom-logo{
  display:none;
}



/* headphones */
.headphones {
  border: 1px solid #ffb400;
}

.headphones img {
  width: 60%!important;
  height: 201px!important;
  margin-left:auto;
  margin-right:auto;
  margin-top:2px;
}

.headphones input{
  padding: 0;
  line-height: inherit;
  color: inherit;
  margin-right: 20px;
}

.headphones .MuiSvgIcon-root {
  width: 0.9em!important;
}
.headphonesgrid .slider-wrapper .slick-slide{
margin-left: 4%!important;
}
@media (max-width:1000px){
  .headphones input {
    padding: 0;
    line-height: inherit;
    color: inherit;
    margin-right: 5px;
}
.headphonesgrid .slider-wrapper .slick-slide{
  margin-left: 10%!important;
  width: 117px!important;
  /* left: -363px!important; */
}
.headphonesgrid .thumbnail-slider-wrap .slick-slide{
  margin-left: 0!important;
  width: 117px!important;
  /* left: -363px!important; */
}
}

/* HeadphonesGrid */

.headphonesgrid {
  border: 1px solid #ccc;
}

.thumbnail-slider-wrap {
  margin-top: 15px;
  height: 85px;
}
.headphonesgrid .thumbnail-slider-wrap .slick-track{
  width:80%!important;
  margin-right: auto!important;
  margin-left:auto!important;
}
.headphonesgrid .thumbnail-slider-wrap .slick-track .slick-slide {
  text-align: center;
  border: 1px solid #ccc!important;
  width:50px!important;
  padding: 0px!important;
}
.headphonesgrid .thumbnail-slider-wrap .slick-track .slick-slide img {
  width: 50px!important;
  height:50px!important;
}
.headphonesgrid .slider-wrapper {
  width: 760px;
  margin: auto;
}
.headphonesgrid .slick-slide {
  text-align: center;
  position: relative;
  border:none!important;
}
.headphonesgrid .slick-slide:focus {
  outline: none;
}
.headphonesgrid .slick-slide-title {
  text-transform: capitalize;
}
.headphonesgrid .slick-slide-image {
  max-width: 100%;
  height: auto;
}
.headphonesgrid .slick-slide-label {
  color: #fff;
  padding: 10px;
  position: absolute;
  left: 0px;
  font-size: 1.5em;
  bottom: 0px;
  width: 100%;
}
.headphonesgrid .slick-prev:before,
.headphonesgrid .slick-next:before {
  color: #777777;
}
.headphonesgrid .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.headphonesgrid .slick-slider {
  position: inherit;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
}
.headphonesgrid .slick-next {
  right: 50px;
}
.headphonesgrid .slick-prev {
  left: 21px;
}
.headphonesgrid  .slick-slide:hover {
  border: none!important;
}
.headphonesgrid .slick-list {
width:200px;
}
.headphonesgrid ul{
  list-style: disc;
    color: #f8a729;
    font-size: large;
}
.headphonesgrid ul li{
  display: inline-block;
  padding-right: 20px;
  line-height: 30px;
}

.tabimg img{
  height:200px;
}

.tabimg .react-tabs__tab--selected{
  background: #bb5414;
  color:#f9f4f4;
  border-radius:17px;
  border:none;
}
.tabimg .react-tabs__tab{
  margin:2px;
  padding: 5px 17px;
}
@media (max-width:800px){
  .headphonesgrid .slider-wrapper{
    width:100%;
  }
}

.headphonesgrid .slick-slide {
  width: 217px!important;
  /* left: -496px!important; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

button:focus{
  outline:none;
}
@media (max-width:1000px){
.qa{
  display:none
}
}


/* headphone grid */
.headphone-slider
{

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #0000001F;
  border:1px solid #ccc;
  opacity: 1;
  margin:0px 10px;
  padding-bottom:25px;
  margin-bottom: 20px;
}
.headphone-slider:hover {
padding-bottom: 0px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;

}
.headphone-slider img {
width: 180px;
margin: 0 auto;
margin-bottom: 0px; 
}
.headphone_delivery
{
color: orange;
background: #F5F5F5;
font-weight: 600;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
}
.headphone-slider:hover .earbuds_hidden {
display: inline-block;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
margin-top:8px;
}
.headphone-slider:hover .earbuds_compare {
display: inline-block;
}
.headphone-slider:hover .headphone_price {
display: none;
}

.category_border
{
border-right:1px solid #bfdf79;
}
.category_filterdesign a
{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #00000029;
    border: 0.10000000149011612px solid #BEBEBE;
    border-radius: 22px;
    opacity: 1;
    text-align: center;
    padding: 4px 17px;
    text-transform: capitalize;
    font-size: 14px;
    margin: 5px;
    display: inline-block;
    cursor: grab;
    width:max-content !important;
}
.categorylist a {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #00000029;
    border: 0.10000000149011612px solid #BEBEBE;
    border-radius: 13px;
    color: #4e4d4d;
    padding: 5px 1px;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    text-transform: capitalize;

}
.categorylist span
{
  margin:0px 0px;
}
.category_padalignment
{
  padding-right: 15px;
 padding-left:15px;
 }
.category_inputdropdown
{
  
    color: #ccc;
}
.category_filterheader
{
    width: 100%;
    border: 1px solid #ccc;
    margin-left: 10px;
}
.category_background
{
  background: #ffeff582;
  border-bottom: 1px solid orange !important;
}
.category_filterclose
{
  color: orange !important;
}
.category_filterdesign::-webkit-scrollbar {
    display: none;
}
.on .category_addicon {
    display: none;
}
.off .category_removeicon {
    display: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
    padding: 10px;
  flex: 10%;
}

.flex-item-right {
  
  padding: 10px;
  flex: 90%;
}
.col-end-7.col-span-5 .s_tv {
    height: 400px !important;
}
.col-end-7.col-span-5 .align_samsung {
    height: 200px !important;
}
.category_filterclose .MuiSlider-thumb {
    width: 16px !important;
    height: 16px !important;
}
.category_filterclose .MuiSlider-track {
    height: 5px !important;
}
.category_filterclose .MuiSlider-rail {
    height: 5px !important;
   
}
.category_searchmethod
{
      border-top: none;
    border-right: none;
    border-left: none;
}


/* cateorylist */
.image-gallery-fullscreen-button {
  right: 0;
  display: none;
}
.image-gallery-play-button {
  left: 0;
  display: none;
}
.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  height: 60px !important;
  width: 35px !important;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 250px !important;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image {
  vertical-align: baseline;
  width: 100px !important;
  line-height: 0;
  height: 75px;
  object-fit: contain;
  object-position: center;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
  outline: none;
  
  border-bottom: 6px solid #ffa500 !important;
}
.image-gallery-thumbnail:hover {
  outline: none;
  border-bottom: 6px solid #ffa500 !important;
}
button.image-gallery-thumbnail {
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 0 10px;
}
button.image-gallery-thumbnail.active {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.image-gallery-thumbnail:hover{
outline: none;
border:1px solid #ccc !important;
border-bottom: 6px solid #ffa500 !important;
}
.product_listdata{
  border: 1px solid #ccc;
  margin: 0px 10px 10px 10px;
  border-radius: 10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #0000001f;
}
.categorylist_headtitle {
  background: #fdeaf1!important;
  color: orange!important;
  font-weight: bold;
}
.category_emi{
  color: orange!important;
}
.category_saveprice{
color:#06e406!important;
}
.category_keyspec{
    color: orange;
    font-size: 13px !important;
  margin-right: 10px;
  width: max-content;
}
.brand_staricon {
  font-size: medium !important;
  color: #fa6c21;
}

.MuiSvgIcon-root {
  fill: #ffa500!important;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
@media (max-width:500px){
.image-gallery-slide .image-gallery-image {
  width: 66%;
  -o-object-fit: contain;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}
.image-gallery-slide-wrapper {
  position: relative;
  width: 69%!important;
}
.image-gallery-thumbnails {
  padding: 3px 0;
  width: 69%;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(100vh - 80px);
  width: 74%;
}
}
.media-library{
  display: none!important;
}
.upload-container {
  cursor: pointer;
  text-align: center;
  padding: 0px!important;
  margin: 0px!important;
  border: 2px dashed #f0f0f0 !important;
  width: 100%;
}
.ant-divider-horizontal{
  display:none!important;
}
.ant-btn{
  display: none!important;
}
