html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    display:block!important
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



/* Ratings */

.reviews-wrp .MuiSvgIcon-root{
  width: 2.9rem;
  height: 2.2rem;
  color:#d97706
}
.reviews-wrp h2{
  color:#fa4f25;
}
.reviews-wrp .MuiButton-contained{
  color: #fff!important;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%)!important;
  background-color: #ff5e16!important;
  padding-left: 10%!important;
  padding-right: 10%!important;
  text-transform: none!important;
  margin: 0 auto!important;
  margin: 10px!important;
  width: 70%;
  margin-left: 15%!important;
  }
  .percent{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  .reviews-wrp ul li{
    display: inline;
    padding-right: 10px;
    line-height: 43px;
  }

  .rating-icon{
    background-color: #f1f1f1;
  }
.review-search{
  border:1px solid #ccc;
}
.readmore .MuiButton-contained , .readmore .MuiButton-label{
  text-transform: capitalize!important;
  font-size: small!important;
  text-transform: capitalize!important;
  width:100%;
}
.review-search .MuiRating-root {
  color: #149a57!important;
}
.review-search .MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  margin-left: 10px;
}
.review-search .MuiInputBase-root {
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  width: 81%;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
}

.rating-icon .MuiSvgIcon-root {
  vertical-align:unset!important;
  width:15px!important;
  height:15px!important;
  margin-left: 1px;
}
.review-icon .MuiSvgIcon-root {
  vertical-align: unset!important;
  width: 19px!important;
  height: 15px!important;
  margin-left: 6px;
}

.camera li {
  display: block;
  float: left;
  width: 15px;
  height: 6px;
  margin-right: 1px;
  border-radius: 10%;
  margin-top:5px;
}
.camera li:first-child, .appearance li:first-child, .battery li:first-child {
-webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
.camera li:last-child, .appearance li:last-child, .battery li:last-child {
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}
.camera li:nth-child(-n+2) {
  background: rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(6, 94, 10, 0.733),
                    0px 0px 0px rgba(6, 94, 10, 0.733);
}
.camera li:nth-child(-n+3) {
  background: rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(6, 94, 10, 0.733),
                    0px 0px 0px rgba(6, 94, 10, 0.733);
}

.camera li:nth-child(n+4) {
  box-shadow: inset 0px 0px 10px 1px rgba(6, 94, 10, 0.733),
                    0px 0px 0px rgba(6, 94, 10, 0.733);
}
.appearance li {
  display: block;
  float: left;
  width: 15px;
  height: 6px;
  margin-right: 1px;
  border-radius: 10%;
  margin-top:5px;
}
.appearance li:nth-child(-n+2) {
  background: rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(6, 94, 10, 0.733),
                    0px 0px 0px rgba(6, 94, 10, 0.733);
}
.appearance li:nth-child(-n+3) {
  background: rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(6, 94, 10, 0.733),
                    0px 0px 0px rgba(6, 94, 10, 0.733);
}
.appearance li:nth-child(-n+4) {
  background: rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(6, 94, 10, 0.733),
                    0px 0px 0px rgba(6, 94, 10, 0.733);
}
.appearance li:nth-child(n+4) {
  background: rgba(109, 109, 109, 0.267);
}
.battery li {
  display: block;
  float: left;
  width: 15px;
  height: 6px;
  margin-right: 1px;
  border-radius: 10%;
  margin-top:5px;
}
.battery li:nth-child(-n+2) {
  background: rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(255, 94, 22, 1),
                    0px 0px 0px rgba(255, 94, 22, 1);
}
.battery li:nth-child(-n+3) {
  background: rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(255, 94, 22, 1),
                    0px 0px 0px rgba(255, 94, 22, 1);
}
.battery li:nth-child(-n+4) {
  background: rgba(255,255,255,0.9);
  box-shadow: inset 0px 0px 10px 2px rgba(255, 94, 22, 1),
                    0px 0px 0px rgba(255, 94, 22, 1);
}
.battery li:nth-child(n+4) {
  box-shadow: inset 0px 0px 10px 1px rgba(109, 109, 109, 0.267),
                    0px 0px 0px rgba(109, 109, 109, 0.267);
}

.section-divider:before {
  content: "VS";
  width: 2.8rem;
  height: 2.8rem;
  background: #f6f6f7;
  border-radius: 100%;
  position: absolute;
  top: -1.25rem;
  left: calc(50% - 1.55rem);
  color: rgba(#333333, 0.5);
  line-height: 2.5rem;
  text-indent: 0.7rem;
  font-size: 1.1rem;
  border: 1px solid #333333;
    }

    @media only screen and (max-width:640px){
      .reviews-wrp .MuiButton-root{
        width:64px!important;
        min-width:none!important;
      }
      .reviews-wrp .MuiButton-contained{
        color: #fff!important;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%)!important;
        background-color: #ff5e16!important;
        padding-left: 10%!important;
        padding-right: 10%!important;
        text-transform: none!important;
        margin: 0 auto!important;
        margin: 10px!important;
        width: 197%!important;
        margin-left: 0!important;
        }
        .review-divider{
          border-top: 1px solid #9291919e;
        }
        .review-list{
          width:100%;
        }
    }

    /* Ratings End */

    /* write review start */

    /* my orders */
    .PersonalInfo .react-tabs {
      display: flex;
      /* border: 1px solid #3c3e43; */
      color: rgb(5, 5, 5);
      width:100%;
    }
    .PersonalInfo .react-tabs__tab{
    border-radius: 0px!important;
    border:none!important;
    }
    .PersonalInfo .react-tabs__tab-list {
      display: flex;
      flex-direction: column;
      width: 285px;
      margin: 0;
      padding: 0;
      border-right:1px solid #93949626;
    }
    
    .PersonalInfo .react-tabs__tab {
      /* height: 50px; */
      list-style: none;
      padding: 12px 6px;
      cursor: pointer;
      color: #8c8a8a;
      border-radius: none;
      margin-right: 0!important;
      width:100%;
    }
    
    .PersonalInfo .react-tabs__tab--selected {
      background: none!important;
      border-color: #1c1d1f;
      border-left: 4px solid #6eb800;
    }
    
    .PersonalInfo .react-tabs__tab-panel {
      display: none;
      width: 100%;
    }
    
    .PersonalInfo .react-tabs__tab-panel--selected {
      display: block;
    }
    
    .PersonalInfo .react-tabs__tab {
      padding-left: 24px;
    }
    
    .PersonalInfo .react-tabs__tab--selected {
      padding-left: 21px;
    }
    
    .PersonalInfo .panel-content {
      text-align: center;
    }
    .text-block {
      position: absolute;
      bottom: 20px;
      right: 20px;
      background-color: black;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
    }
    .bottomright {
      position: absolute;
      bottom: 8px;
      right: 16px;
      font-size: 18px;
    }

    .panel-content .MuiSvgIcon-root{
      width:0.9rem!important;
      height:0.9rem!important;
      color:#ccc;
    }
    .panel-content .MuiButton-contained{
      width:88%;
      text-transform: capitalize;
    }
    .my-order .react-tabs__tab-list{
      float: left;
    display: contents;
    }

    .tabs {
      width: 100%;
      margin-top: 20px;
      padding: 0 20px;
    }
    .tabs input {
      display: none;
    }
    .tabs label {
      display: inline-block;
      padding: 6px 0 6px 0;
      margin: 0 -2px;
      width: 25%; /* =100/tabs number */
      border-bottom: 1px solid #ccc;
      text-align: center;
    }
    .tabs label:hover {
      cursor: pointer;
    }
    .tabs input:checked + label {
      border: 1px solid #fb7e3c;
      border-width: 0px 0px 1px 0px;
      font-weight: 700;
    }
    .tabs #tab1:checked ~ .content #content1,
    .tabs #tab2:checked ~ .content #content2,
    .tabs #tab3:checked ~ .content #content3,
    .tabs #tab4:checked ~ .content #content4 {
      display: block;
    }
    .tabs .content > div {
      display: none;
      padding-top: 20px;
      text-align: left;
      /*height: 192px;*/
      overflow: auto;
    }
    .my-order .MuiButton-contained{
      background-color: #e0e0e07d;
    }
    .my-order .MuiButton-root{
      border-radius: 23px;
    }
    .my-order .MuiSvgIcon-root{
      right:0;
      position: absolute;
      width: 2.2rem!important;
      height: 2.2rem!important;
      color: #ccc;
    }
    .breadcrumbs .MuiSvgIcon-root, .payment-preferences .MuiSvgIcon-root{
      font-size: 0.99rem!important;
    }
    .my-order .my-order-icon .MuiSvgIcon-root{
      width:1.9rem!important;
      height:1.9rem!important;
      position:relative;

    }
    .trackpackage .MuiSvgIcon-root{
      width:1.5rem!important;
      height:1.5rem!important;
      position:relative;
      color:#000!important;

    }
    .infoicon .MuiSvgIcon-root {
      width: 1rem!important;
      height: 1.5rem!important;
      position: relative;
      color: #cac9c9cf!important;
  }

    /* write review end  */

    /* image upload */

    .upload__image-wrapper {
      display: flex!important;
  }
  .ant-col {
    position: relative;
    /* max-width: 100%; */
    min-height: 1px;
    width: 300px!important;
}
.media-library{
  display:none;
}
.ant-image {
  width:80px!important;
  height:80px!important;
  border:1px solid #ccc!important;
  padding:2px!important;
}
.ant-image-img{
  height:80px!important;
}
.image-card, .ant-upload-hint{
  display: none!important;
}


.previus-button, .next-button{
  background-color: #d0d0d0!important;
  padding:10px!important;
  margin:2px!important;
  width:10%;
}


.my-order .MuiSvgIcon-root {
  right: 0;
  position: relative;
  width: 1.2rem!important;
  height: 1rem!important;
  color: #ccc;
}

.upload-container {
  cursor: pointer;
  text-align: center;
  padding: 0px !important;
  margin: 20px !important;
  border: 2px dashed #f0f0f0 !important;
}
.upload-container svg{
  width:33px!important;
  height: 40px!important;
}

.ant-upload-text, .ant-col-14{
  display:none!important;
}

.text-sm {
  font-size: 0.775rem!important;
  line-height: 1.25rem;
}
.filter ul li{
  display: inline;
    padding-right: 10px;
    line-height: 43px;
    border: 1px solid #ccc;
    padding: 5px 12px;
    margin: 5px;
    border-radius: 20px;
}
.filter-button{
  border: 1px solid #ccc;
  padding: 2px 12px;
  border-radius: 20px;
}


@media screen and (max-width:760px){
  .frequent{
    display:none!important;
  }
}
@media screen and (max-width: 1000px){
  .mobile-review {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mobile-p {
  overflow: hidden!important;
text-overflow: ellipsis!important;
display: -webkit-box!important;
-webkit-line-clamp: 1!important;
-webkit-box-orient: vertical!important;
}
}

button.finder-button.topbar {
  background-color: #807e7d!important;
  width: 100%;
  padding-top: 10px;
  color: #fff;
}
@media (max-width:400px){
  .text-xs {
    font-size: 0.7rem;
    line-height: 1rem;
}
  .text-base {
    font-size: 0.8rem!important;
    line-height: 1.5rem;
}

.reviews-wrp .MuiSvgIcon-root {
    width: 1.9rem!important;
    height: 2.2rem;
    color: #d97706;
}
.p-8 {
    padding: 1.2rem!important;
}
.camera li, .battery li, .appearance li{
  width:9px!important;
}
.ant-col{
  width:200px!important;
}
.star-container{
  padding-right: 0px!important;
}
}


/* Protection */
.protection{
  background-color: #FFF8F4;
  opacity: 1;
}
.protection h2, .accessories h5, .accessories-bg{
  background-color: #FF7A0026;
}
.protection img{
  max-width: 100%;
    height: 120px!important;
}
.protection-button{
  background: linear-gradient(to bottom, #ff7a00 0%, #ff4a25 100%);
}
.protection .MuiSvgIcon-root {
  width: 1.9rem!important;
  height: 2.2rem;
  color: #d97706;
}

@media screen and (max-width:1000px){
  .protection img{
    max-width: 100%;
      height: 80px!important;
  }
  /* .accessories img{
    height: 130px !important;
  } */
}

@media screen and (max-width:1100px){
  .similar-list{
    display:none;
  }
}
/* Accessories */
.accessories{
  background-color: #EAEAEA;
  overflow: hidden;
}

.accessories .MuiSvgIcon-root{
  width: 0.5em;
  height: 0.5em;
}
.accessories img{
  margin-left: auto;
  margin-right: auto;
  /* height: 200px !important; */
  display: block;
  width: 45%;
}


/* Similar Products */

.similar-products img{
  /* margin-left: auto; */
    margin-right: auto;
}
.similar-products .MuiSvgIcon-root{
  width:0.5em!important;
}
.react-multi-carousel-item {
  border:1px solid #ccc;
  padding:10px;
}

.slick-slide{
  border: 1px solid rgb(223, 221, 221);
  width: 254px!important;
  padding-top: 5px;
}
.slick-li{
  width: 250px!important;
    /* border: 1px solid #ccc; */
    padding: 10px;
    display: inline-block;
}
.slick-slider.slick-initialized {
  /* width: 1290px!important; */
  overflow: hidden!important;
}

.slick-track{
  display: inline-flex;
  width: auto!important;
}
.similar-products .react-tabs__tab-list{
  border-bottom: none!important;
  margin:0 !important;
}
.similar-products .react-tabs__tab{
  padding: 0!important;
  border:none!important;
}

/* .react-multi-carousel-dot-list{
  position: inherit!important;
} */

.similar-products .previus-button, .next-button , .trending-carousel .previus-button, .next-button{
  background-color: #f7f7f7!important;
  padding: 0 10px!important;
  margin: 2px!important;
  width: 37%!important;
}

/* More Products */
.more-product ul{
  list-style: disc;
    /* color: #ccc; */
    margin-left: 17px;
}
.more-product {
  width: 254px!important;
}

.iconli .text-green-600{
  fill:green;
  font-size:23px;
}
.iconli .text-red-600{
  fill:red;
  font-size:23px;
}
.similar-products .text-red-500{
  fill: red;
  font-size: 33px;
  display:flex;
}
.iconli .text-gray-600{
  fill:gray;
  font-size:23px;
}
.iconli li{
  display:flex;
}

.heart{
  font-size: 35px;
  color:rgb(182, 173, 173);
  margin-top: 7px;
   width: 70px;
   outline: none;
   text-transform: uppercase;
   cursor: pointer;
   font-weight: bold;
}
.heart:hover{
  color: rgb(192, 39, 39);
}
.active {
  color: #ccc;
 }

 .element {
  position: relative;
}
 .tooltip {
  display: none;
  /* position: absolute; */
  top: 100%;
  padding: 3px;
  margin-left:auto;
}

.element:hover .tooltip {
  display: block;
}

#onhover {
  display: none;
}
#surround:hover span[id="initial"] {
  display: none;
}
#surround:hover span[id="onhover"] {
  display: block;
}


/* Trending carousel */

.trending-carousel .slick-slide{

  width:392px!important;
  border:none!important;

}
.trending-carousel .MuiSvgIcon-root{
  width:0.6em!important;
}

.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


/* Category */

.fit-content{
  height: fit-content;
}

.category-series .slick-slide{
  border: none!important;
}
.category-series .slick-slide img, .category-series .slick-slide{
  height: 60px!important;
  /* padding:20px 5px!important; */
  width:auto!important;
  margin:10px;
  padding: 10px;
}

.categories img {
  border-radius: 10px;
}
.category-series h1::after{
  content: "";
    position: absolute;
    top: 100%;
    width: 20%;
    left: 40%;
    right:40%;
    height: 3px;
    border-radius: 2px;
    background: linear-gradient(
130deg
,#ff7a18,#af002d 41.07%,#319197 76.05%);
}
@media screen and (max-width:1000px){
  /* .categories{
    display:none!important;
  } */

}
@media screen and (max-width:600px){
  .categories img {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10px;
}
}
/* Earbuds */

.earbuds .slick-slide {
  border: 1px solid #d9770647!important;
  margin-right:10px;
}
/* .earbuds .slick-slide:hover{
  border: 1px solid #96520447!important;
} */
.earbuds .slick-slide a:hover{
  border: 1px solid #707070!important;
  margin-right:5px;
  border-bottom:none!important;
}

.earbuds-icon .MuiSvgIcon-root{
  width:1em!important;
  background-color: #ff7a18;
  fill:#fff;
  border-radius: 5px;
  margin-right: 3px;
}

.earbuds button{
  -webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

.earbuds img{
  width:60%!important;
  height:150px!important;
}

.vc {
  background: #efafa0;
  color: #000;
  height: 22px;
  text-align: center;
  padding: 1.5px 6px;
  position: relative;
}
.vc1 {
  background: #ececec;
  color: rgb(231, 10, 10);
  width: 33px;
  height: 20px;
  text-align: center;
  padding: 1.5px 6px;
  position: relative;
}
.vc:after {
  width: 0;
  height: 0;
  border: 11.5px solid transparent;
  position: absolute;
  content: "";
  border-bottom-color: #efafa0;
  right: -21px;
  top: -1px;
}
.vc:before {
  width: 0;
  height: 0;
  border: 11.3px solid transparent;
  position: absolute;
  content: "";
  border-top-color:#efafa0;
  right: -21px;
  top: 0px;
  border-left-color: #efafa0;
}


.categorytabs {
  width: 100%;
  margin-top: 20px;
  padding: 0 20px;
}
.categorytabs input {
  display: none;
}
.categorytabs label {
  display: inline-block;
  padding: 6px 0 6px 0;
  margin: 0 -2px;
  width: 25%; /* =100/tabs number */
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.categorytabs label:hover {
  cursor: pointer;
}
.categorytabs input:checked + label {
  border: 1px solid #fb7e3c;
  border-width: 0px 0px 1px 0px;
  font-weight: 700;
}
.categorytabs #tab1:checked ~ .content #content1,
.categorytabs #tab2:checked ~ .content #content2,
.categorytabs #tab3:checked ~ .content #content3,
.categorytabs #tab4:checked ~ .content #content4 {
  display: block;
}

.category-series .categorytabs label {
  display: inline-block;
  padding: 12px 0 12px 0!important;
  margin: 0 5px;
  width: 15%!important;
  border-bottom: none!important;
  text-align: center;
}

.category-series .categorytabs input:checked + label {
  border: 1px solid #fb7e3c;
  border-width: 0px 0px 1px 0px;
  font-weight: 700;
  background-color: #ce4b05;
  height: 43px;
  margin-top: 5px;
  border-radius: 20px;
}

 .categorytabs .content > div {
  display: block;
  padding-top: 20px;
  text-align: left;
  height: auto!important;
  /* overflow: auto; */
}

.categorytabs img{
  width: 183px;
  height: 155px;
  margin-left: auto;
  margin-right: auto;
}

.categorytabs .vc {
  background: #ce4b05;
  color: #fff;
  font-weight: bold;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /* text-align: center; */
  padding: 6.5px 6px;
    /* position: relative; */
}
.categorytabs .vc:after {
  width: 0;
  height: 0;
  border: 11.5px solid transparent;
  position: absolute;
  content: "";
  /* border-bottom-color: #efafa0; */
  right: -21px;
  top: -1px;
}

.categorytabs .vc:before {
  width: 0;
  height: 0;
  /* border: 11.3px solid transparent; */
  position: absolute;
  content: "";
  border-top-color: transparent;
  right: -21px;
  top: 0px;
  border-left-color: transparent;
}


/* BEST Seller */

.bestseller .slick-slide {
  border: none!important;
  width: 230px!important;
  padding-top: 0!important;
  border-radius: 10px;
}

/* bottom logo */

.categorylogo .slick-track{
  width:none!important;
}
.category-bottom-logo .slick-slide {
  border: none;
  width: 163px!important;
  /* padding-top: 5px; */
  background-color: antiquewhite;
  /* margin: 6px; */
  padding: 7px!important;
}

.category-bottom{
  width:100%!important;
  background-color: white;
    border-radius: 20px;
}

.category-bottom img {
  width: 100%;
  height: 58px!important;
  padding: 12px;
}

@media screen and (max-width:1000px){
  .slick-slide, .bestseller .slick-slide {
    width: 266px!important;
}
.category-series{
  display: none;
}
}



.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	/* speak: none; */
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.hi-icon-mobile:before {
	content: "\f025";
}

/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
	background: rgba(255,255,255,0.1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-1 .hi-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

/* Effect 1a */
.hi-icon-effect-1a .hi-icon:hover {
	background: rgb(8, 8, 8);
	color: #41ab6b;
}

.hi-icon-effect-1a .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.nav-icon-display {
  color: white;
  display: none;
  font-size: 20px;
}

.category-series .MuiSvgIcon-root {
  fill: #000;
  width: 2em;
  height: 2em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  position: absolute;
  top: 20%;
  right: 24%;
}
.category-series .MuiSvgIcon-root:hover {
  fill: #fff;
  width: 2em;
  height: 2em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  position: absolute;
  top: 20%;
  right: 24%;
}


/* Breadcrumb */
/* .breadcrumb .tabs {
  width: 100%;
  margin-top: 0;
  padding: 0px 20px;
  position: absolute;
  right: 2%;
}
.breadcrumb .tabs label {
  display: contents;
  padding: 0;
  margin: 0;
  width: 0;
  border-bottom: none;
  text-align: center;
} */


/* headphones */
.headphones {
  border: 1px solid #ffb400;
}

.headphones img {
  width: 60%!important;
  height: 201px!important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.headphones input{
  padding: 0;
  line-height: inherit;
  color: inherit;
  margin-right: 20px;
}

.headphones .MuiSvgIcon-root {
  width: 0.9em!important;
}
.headphonesgrid .slider-wrapper .slick-slide{
/* margin-left: 4%!important; */
}
.headphonesgrid .element{
  left:0!important;
  width:358px!important;
}
@media (max-width:1000px){
  .headphones input {
    padding: 0;
    line-height: inherit;
    color: inherit;
    margin-right: 5px;
}
.headphonesgrid .slider-wrapper .slick-slide{
  margin-left: 10%!important;
  width: 117px!important;
  /* left: -363px!important; */
}
.headphonesgrid .thumbnail-slider-wrap .slick-slide{
  margin-left: 0!important;
  width: 117px!important;
  /* left: -363px!important; */
}
}

/* HeadphonesGrid */

.headphonesgrid {
  border: 1px solid #ccc;
}

.thumbnail-slider-wrap {
  margin-top: 15px;
  height: 85px;
}
.headphonesgrid .thumbnail-slider-wrap .slick-track{
  width:80%!important;
  margin-right: auto!important;
  margin-left:auto!important;
}
.headphonesgrid .thumbnail-slider-wrap .slick-track .slick-slide {
  text-align: center;
  border: 1px solid #ccc!important;
  width:50px!important;
  padding: 0px!important;
}
.headphonesgrid .thumbnail-slider-wrap .slick-track .slick-slide img {
  width: 50px!important;
  height:50px!important;
}
.headphonesgrid .slider-wrapper {
  width: 760px;
  margin: auto;
}
.headphonesgrid .slick-slide {
  text-align: center;
  position: relative;
  border:none!important;
}
.headphonesgrid .slick-slide:focus {
  outline: none;
}
.headphonesgrid .slick-slide-title {
  text-transform: capitalize;
}
.headphonesgrid .slick-slide-image {
  max-width: 100%;
  height: auto;
}
.headphonesgrid .slick-slide-label {
  color: #fff;
  padding: 10px;
  position: absolute;
  left: 0px;
  font-size: 1.5em;
  bottom: 0px;
  width: 100%;
}
.headphonesgrid .slick-prev:before,
.headphonesgrid .slick-next:before {
  color: #777777;
}
.headphonesgrid .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.headphonesgrid .slick-slider {
  position: inherit;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
}
.headphonesgrid .slick-next {
  right: 50px;
}
.headphonesgrid .slick-prev {
  left: 21px;
}
.headphonesgrid  .slick-slide:hover {
  border: none!important;
}
.headphonesgrid .slick-list {
width:200px;
}
.headphonesgrid ul{
  list-style: disc;
    color: #f8a729;
    font-size: large;
}
.headphonesgrid ul li{
  display: inline-block;
  padding-right: 20px;
  line-height: 30px;
}
.headphonesgrid .slick-slide .slick-active .slick-current{
  left:0!important;
}

.tabimg img{
  height:200px;
}

.tabimg .react-tabs__tab--selected{
  background: #bb5414;
  color:#f9f4f4;
  border-radius:17px;
  border:none;
}
.tabimg .react-tabs__tab{
  margin:2px;
  padding: 5px 17px;
}
@media (max-width:800px){
  .headphonesgrid .slider-wrapper{
    width:100%;
  }
}

.headphonesgrid .slick-slide {
  width: 217px!important;
  /* left: -496px!important; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

button:focus{
  outline:none;
}
@media (max-width:1000px){
.qa{
  display:none
}
}


.card {
  font-size: 12px;
  background-color: #fff;
}
.card > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 14px;
  text-align: center;
}

.modal {
  font-size: 12px;
  background-color: #fff;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  margin: auto;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.example-warper-start {
  width: 100%;
  padding: 20px 5%;
  display: flex;
  flex-wrap: wrap;
  border: 1px #cfcece dashed;
}


.headphonesgrid .slick-prev {
  left: -52px !important;
}

.headphonesgrid .slick-next:before,
.headphonesgrid .slick-prev:before {
  content: "" !important;
}
.headphonesgrid .next-slick-arrow,
.headphonesgrid .prev-slick-arrow {
  color: #000000;
  font-size: 48px;
}
.thumbnail-slider-wrap {
  margin-top: 15px;
  height: 85px;
}
.thumbnail-slider-wrap .slick-track .slick-slide {
  text-align: center;
}
.thumbnail-slider-wrap .slick-track .slick-slide img {
  width: 70%;
}


/* headphone grid */
.headphone-slider
{

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #0000001F;
  border:1px solid #ccc;
  opacity: 1;
  margin:0px 10px;
  padding-bottom:25px;
  margin-bottom: 20px;
}
.headphone-slider:hover {
padding-bottom: 0px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;

}
.headphone-slider img {
width: 180px;
margin: 0 auto;
margin-bottom: 0px; 
}
.headphone_delivery
{
color: orange;
background: #F5F5F5;
font-weight: 600;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
}
.headphone-slider:hover .earbuds_hidden {
display: inline-block;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
margin-top:8px;
}
.headphone-slider:hover .earbuds_compare {
display: inline-block;
}
.headphone-slider:hover .headphone_price {
display: none;
}

.category_border
{
border-right:1px solid #bfdf79;
}
.category_filterdesign a
{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #00000029;
    border: 0.10000000149011612px solid #BEBEBE;
    border-radius: 22px;
    opacity: 1;
    text-align: center;
    padding: 4px 17px;
    text-transform: capitalize;
    font-size: 14px;
    margin: 5px;
    display: inline-block;
    cursor: grab;
    width:max-content !important;
}
.categorylist a {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #00000029;
    border: 0.10000000149011612px solid #BEBEBE;
    border-radius: 13px;
    color: #4e4d4d;
    padding: 5px 1px;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    text-transform: capitalize;

}
.categorylist span
{
  margin:0px 0px;
}
.category_padalignment
{
  padding-right: 15px;
 padding-left:15px;
 }
.category_inputdropdown
{
  
    color: #ccc;
}
.category_filterheader
{
    width: 100%;
    border: 1px solid #ccc;
    margin-left: 10px;
}
.category_background
{
  background: #ffeff582;
  border-bottom: 1px solid orange !important;
}
.category_filterclose
{
  color: orange !important;
}
.category_filterdesign::-webkit-scrollbar {
    display: none;
}
.on .category_addicon {
    display: none;
}
.off .category_removeicon {
    display: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
    padding: 10px;
  flex: 10%;
}

.flex-item-right {
  
  padding: 10px;
  flex: 90%;
}
.col-end-7.col-span-5 .s_tv {
    height: 400px !important;
}
.col-end-7.col-span-5 .align_samsung {
    height: 200px !important;
}
.category_filterclose .MuiSlider-thumb {
    width: 16px !important;
    height: 16px !important;
}
.category_filterclose .MuiSlider-track {
    height: 5px !important;
}
.category_filterclose .MuiSlider-rail {
    height: 5px !important;
   
}
.category_searchmethod
{
      border-top: none;
    border-right: none;
    border-left: none;
}


/* cateorylist */
.image-gallery-fullscreen-button {
  right: 0;
  display: none;
}
.image-gallery-play-button {
  left: 0;
  display: none;
}
.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  height: 60px !important;
  width: 35px !important;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 250px !important;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image {
  vertical-align: baseline;
  width: 100px !important;
  line-height: 0;
  height: 75px;
  object-fit: contain;
  object-position: center;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
  outline: none;
  
  border-bottom: 6px solid #ffa500 !important;
}
.image-gallery-thumbnail:hover {
  outline: none;
  border-bottom: 6px solid #ffa500 !important;
}
button.image-gallery-thumbnail {
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 0 10px;
}
button.image-gallery-thumbnail.active {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.image-gallery-thumbnail:hover{
outline: none;
border:1px solid #ccc !important;
border-bottom: 6px solid #ffa500 !important;
}
.product_listdata{
  border: 1px solid #ccc;
  margin: 0px 10px 10px 10px;
  border-radius: 10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #0000001f;
}
.categorylist_headtitle {
  background: #fdeaf1!important;
  color: orange!important;
  font-weight: bold;
}
.category_emi{
  color: orange!important;
}
.category_saveprice{
color:#06e406!important;
}
.category_keyspec{
    color: orange;
  font-size: 13px !important;
  margin-right: 10px;
  width: max-content;
}
.brand_staricon {
  font-size: medium !important;
  color: #fa6c21;
}

.MuiSvgIcon-root {
  fill: #ffa500!important;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

