
.reviews-wrp {
  background-color: #fff;
 .MuiSvgIcon-root{
    width: 2.9rem;
    height: 2.2rem;
    color: #f9a408;
 }
   h2{
    color:#fa4f25;
   }
    .MuiButton-label {
    color: #fff!important;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%)!important;
    background-color: #ff5e16!important;
    padding-left: 10%!important;
    padding-right: 10%!important;
    text-transform: none!important;
    margin: 0 auto!important;
    margin: 10px!important;
    width: 70%;
    margin-left: 15%!important;
    }
    .percent{
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
    }
    ul li{
      display: inline;
      padding-right: 24px;
      line-height: 43px;
    }
}