.card {
  position: relative;
  width: 100%;
  max-width: 300px;
  &__video {
    position: relative;
    height: 200px;
    width: 100%;
    max-width: 300px;
    &:hover {
      div {
        filter: brightness(80%);
      }
    }
    &__thumbnail {
      height: 200px;
      width: 100%;
      max-width: 300px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      filter: brightness(100%);
      border-radius: 15px;
      transition: 0.3s;
    }
    img {
      height: 40px;
      width: 40px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }

  &__description {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 55px 1fr;
    grid-gap: 10px;
    max-width: 100%;
    &__thumbnail {
      border-radius: 4px;
      height: 55px;
      width: 55px;
      background-size: cover;
      background-position: center center;
    }
    &__text {
      position: relative;
      max-width: 100%;
      b {
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 100%;
        position: relative;
      }
      p {
        font-size: 12px;
        color: #1e2d3e;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 100%;
        position: relative;
      }
      &__pricing {
        font-size: 12px;
        display: flex;
        align-content: center;
        .star-icon {
          height: 14px;
          width: 14px;
          margin-left: 4px;
          margin-top: 1px;
        }
        .spacer {
          flex: 1;
        }
      }
    }
  }
}
